.nbs-flexisel-container {
    position:relative;
    max-width:100%;
}
.nbs-flexisel-ul {
    position:relative;
    width:9999px;
    margin:0px;
    padding:0px;
    list-style-type:none;   
    text-align:center;  
}

.nbs-flexisel-inner {
    overflow:hidden;
    float:left;
    width:100%;   
}

.nbs-flexisel-item {
    float:left;
    margin:0px;
    padding:0px;
    cursor:pointer;
    position:relative;
    line-height:0px;
}
.nbs-flexisel-item img {
    width: 50%;
    cursor: pointer;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;  
}

/*** Navigation ***/

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
    display:inline-block;
	width:11px;
	height:22px;
    position: absolute;
    cursor: pointer;
    z-index: 100;
    opacity:0.5;
    top:100px !important;
}
.nbs-flexisel-nav-left:hover,
.nbs-flexisel-nav-right:hover{
	opacity:1;
        
}

.nbs-flexisel-nav-left {
    left: 0px;
    background:url('../images/slide-left.png') no-repeat;
}

.nbs-flexisel-nav-right {
    right: 0px;
    background:url('../images/slide-right.png') no-repeat;
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
